<body>
    <h1>Picture gallery</h1>
    <%- include('header')%>
        <img
            src="https://images.unsplash.com/photo-1496850574977-a4607106a874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
        <img
            src="https://images.unsplash.com/photo-1587403749529-f29b9f8142d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80">
        <img
            src="https://images.unsplash.com/photo-1584115416433-65e4cc7a0b5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80">
</body>